@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: 300;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* eric reset end */
img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#menu #main-menu .right .main .text .title h3::after, #menu #main-menu .right .main .text .sub a h5::before, #content #anchor-menu .item::before, #content .content-main .works-section-banner .main .picture::before, #content .content-main .works-section-illustration .main .picture::before, #content .content-main .works-section-poster .main .picture .item::before {
  content: "";
  display: block;
}

#content .content-main #personalcard .envelope, #content .content-main #mike .envelope, #content .content-main #kanono .envelope, #content .content-main .websection .main .right .envelope {
  width: 480px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.l-8-15 {
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-10-15 {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-10-25 {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.25em;
}

.l-12-15 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-12-25 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.25em;
}

.l-14-15 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-16-15 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-16-25 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.25em;
}

.l-18-15 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-20-15 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-20-25 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.25em;
}

.l-22-15 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-30-15 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-38-15 {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.l-50-15 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.25em;
}

.l-34-60 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.6em;
  writing-mode: vertical-rl;
}

.l-45-75 {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 0.75em;
  writing-mode: vertical-rl;
}

.m-18-15 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}

.m-12-15 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}

.m-14-15 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.m-16-15 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}

.m-20-15 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.m-25-15 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.m-30-15 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.g-15-35 {
  font-family: "Gotham";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.35em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.nympha {
  font-family: "NymphaTrial";
  font-size: 143px;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: #CCCCCC;
}

.nympha-130-10 {
  font-family: "NymphaTrial";
  font-size: 130px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #CCCCCC;
}

.nympha-20-10 {
  font-family: "NymphaTrial";
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #CCCCCC;
}

.nympha-70-10 {
  font-family: "NymphaTrial";
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #fff;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.nympha-90-10 {
  font-family: "NymphaTrial";
  font-size: 90px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #666666;
}

.newyork-70-10 {
  font-family: "NewYork";
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #fff;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.newyork-110-5 {
  font-family: "NewYork";
  font-size: 110px;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.newyork-150-5 {
  font-family: "NewYork";
  font-size: 150px;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.newyork-285-5 {
  font-family: "NewYork";
  font-size: 285px;
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #fff;
}

@font-face {
  font-family: "Gotham";
  src: url(../font/Gotham-XLight.otf);
}
@font-face {
  font-family: "NymphaTrial";
  src: url(../font/NymphaTrial-Regular.otf);
}
@font-face {
  font-family: "NewYork";
  src: url(../font/NewYork\ PERSONAL\ USE.otf);
}
body {
  font-family: "Noto Sans TC", sans-serif, "Gotham", "NymphaTrial", "NewYork";
}

/* 選單 */
#menu {
  display: flex;
  position: fixed;
  z-index: 99;
}
#menu #main-menu {
  height: calc(100vh - 100px);
  width: 260px;
  box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
#menu #main-menu .left {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#menu #main-menu .left span {
  display: block;
  width: 0.5px;
  height: 45vh;
  margin-bottom: 5vh;
  background-color: black;
}
#menu #main-menu .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: right;
}
#menu #main-menu .right .home {
  width: 25px;
}
#menu #main-menu .right .main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#menu #main-menu .right .main .text {
  margin-bottom: 40px;
}
#menu #main-menu .right .main .text:last-child {
  margin-bottom: 0px;
}
#menu #main-menu .right .main .text .title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#menu #main-menu .right .main .text .title:last-child {
  margin-bottom: 0px;
}
#menu #main-menu .right .main .text .title h4 {
  margin-right: 15px;
}
#menu #main-menu .right .main .text .title h3 {
  position: relative;
}
#menu #main-menu .right .main .text .title h3::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  right: 0px;
  bottom: -10px;
  opacity: 0;
  transition: all 0.3s;
}
#menu #main-menu .right .main .text .title:hover h3::after {
  opacity: 1;
}
#menu #main-menu .right .main .text .sub a {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
#menu #main-menu .right .main .text .sub a:last-child {
  margin-bottom: 0px;
}
#menu #main-menu .right .main .text .sub a:hover h5::before {
  opacity: 1;
}
#menu #main-menu .right .main .text .sub a h5 {
  position: relative;
}
#menu #main-menu .right .main .text .sub a h5::before {
  opacity: 0;
  width: 0px;
  height: 0px;
  border: 6px solid;
  border-color: transparent black transparent transparent;
  transform: rotate(-45deg);
  position: absolute;
  transition: all 0.3s;
  bottom: -6px;
  left: -40px;
}
#menu #works-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 30px 30px 0;
  padding: 30px;
  color: #fff;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: none;
}
#menu #works-menu a {
  color: #fff;
}
#menu #works-menu .main-category h3 {
  margin-bottom: 10px;
}
#menu #works-menu .main-category .sub-category {
  margin-bottom: 15px;
}
#menu #works-menu .main-category .sub-category:last-child {
  margin-bottom: 0px;
}
#menu #works-menu .main-category .sub-category h4 {
  color: #00FFFF;
  margin-bottom: 8px;
}
#menu #works-menu .main-category .sub-category .l-10-15 {
  margin-bottom: 6px;
}
#menu #works-menu .main-category .sub-category .l-10-15:last-child {
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.breadcrumbs {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  color: #666666;
}
.breadcrumbs a {
  padding: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  color: #666666;
}
.breadcrumbs a:hover {
  border-bottom: 1px solid #666666;
}

.breadcrumbs-white a {
  color: #fff;
}
.breadcrumbs-white a:hover {
  border-bottom: 1px solid #fff;
}

.stars {
  position: absolute;
  z-index: -1;
}

.title-straight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}
.title-straight h3 {
  writing-mode: vertical-rl;
}
.title-straight .line {
  display: block;
  width: 0.5px;
  height: 20%;
  background-color: #000;
}

.ticket-list {
  display: flex;
}
.ticket-list .ticket p {
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 0.15em;
}
.ticket-list .ticket span {
  display: block;
  width: 45px;
  height: 13px;
  background-color: #1D2323;
  margin: 10px 0;
}
.ticket-list .ticket ul {
  margin-bottom: 5px;
}
.ticket-list .ticket ul:last-child {
  margin-bottom: 0px;
}
.ticket-list .ticket ul li {
  display: flex;
  justify-content: space-between;
  width: 30px;
  margin-bottom: 3px;
}
.ticket-list .ticket ul li:last-child {
  margin-bottom: 0px;
}
.ticket-list .t-2 span {
  background-color: #5C848E;
}
.ticket-list .t-3 span {
  background-color: #DECDC3;
}

#top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#top-btn img {
  height: 50%;
}

#top-btn.show {
  opacity: 1;
}

.content-bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#content {
  position: relative;
  height: 100%;
  width: calc(100vw - var(--main-menu-width));
  display: flex;
  overflow-x: scroll;
}
#content .corner {
  position: fixed;
  z-index: 70;
  transition: all 0.3s ease-in-out;
  background-color: #000;
  -webkit-mask-size: cover;
          mask-size: cover;
}
#content .left-corner {
  left: var(--main-menu-width);
  top: 0;
  -webkit-mask-image: url(../img/corner-left.svg);
          mask-image: url(../img/corner-left.svg);
}
#content .left-corner img {
  width: 375px;
  opacity: 0;
}
#content .right-corner {
  right: 0;
  bottom: 0;
  -webkit-mask-image: url(../img/corner-right.svg);
          mask-image: url(../img/corner-right.svg);
}
#content .right-corner img {
  width: 100px;
  opacity: 0;
}
#content .white-corner {
  background-color: #fff;
}
#content #anchor-menu {
  display: flex;
  justify-content: space-between;
  z-index: 80;
  width: 50%;
  text-align: right;
  position: fixed;
  top: 5%;
  right: calc((100vw - var(--main-menu-width)) / 2);
  transform: translateX(50%);
}
#content #anchor-menu .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 135px;
}
#content #anchor-menu .item::before {
  width: 0px;
  height: 0px;
  border: 8px solid;
  border-color: transparent #666666 transparent transparent;
  transform: rotate(-45deg);
  position: absolute;
  left: -8px;
  bottom: -8px;
  transition: all 0.3s;
}
#content #anchor-menu .item:hover::before {
  border-color: transparent #00FFFF transparent transparent;
}
#content #anchor-menu .item h3 {
  margin-bottom: 5px;
}
#content #anchor-menu .item h4 {
  line-height: 1.5em;
}
#content #anchor-menu.painting-anchor {
  width: 30%;
}
#content .content-main {
  height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
#content .content-main section {
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}
#content .content-main .white-anchor h3,
#content .content-main .white-anchor h4 {
  color: #fff;
}
#content .content-main #cover {
  overflow-y: hidden;
}
#content .content-main #cover .circle {
  display: block;
  width: 850px;
  height: 850px;
  background-color: #808080;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 50%;
  transform: translateX(50%);
  z-index: -2;
}
#content .content-main #cover .stars-right {
  width: 315px;
  right: 50px;
  bottom: 50px;
  transform: rotate(180deg);
}
#content .content-main #cover .stars-left {
  width: 200px;
  left: 170px;
  top: 250px;
}
#content .content-main #cover .name {
  position: absolute;
  width: 90%;
  right: 50%;
  bottom: 5%;
  transform: translate(50%);
  z-index: 1;
}
#content .content-main #cover .name p:last-child {
  text-align: right;
}
#content .content-main #cover .motto {
  position: relative;
  z-index: 2;
  height: 100%;
}
#content .content-main #cover .motto div {
  background-color: #000;
  width: 35px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  position: absolute;
  transform: translate(0%, -50%);
}
#content .content-main #cover .motto p {
  writing-mode: vertical-lr;
  color: #fff;
  letter-spacing: 0.5em;
  margin: 5px;
}
#content .content-main #cover .motto .item-1 {
  height: 400px;
  left: 8%;
  top: 50%;
}
#content .content-main #cover .motto .item-2 {
  height: 270px;
  left: 13%;
  top: 70%;
}
#content .content-main #about {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
#content .content-main #about .photo {
  height: 70%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
#content .content-main #about .photo .stars-left {
  width: 260px;
  left: -40px;
  bottom: 20px;
  transform: rotateY(180deg) rotate(180deg);
}
#content .content-main #about .photo .stars-right {
  width: 200px;
  right: -10px;
  top: 20px;
  transform: rotateY(180deg);
}
#content .content-main #about .text {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 65px;
}
#content .content-main #about .text .name {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#content .content-main #about .text .school .item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
#content .content-main #about .text .school .item:last-child {
  margin-bottom: 0px;
}
#content .content-main #about .text .school .item img {
  width: 22px;
  margin-right: 35px;
}
#content .content-main #about .text .biography p {
  line-height: 2em;
}
#content .content-main #work-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#content .content-main #work-experience .stars-left {
  width: 240px;
  transform-origin: top left;
  transform: translateY(100%) rotate(-90deg);
  left: 0;
  bottom: 0;
}
#content .content-main #work-experience .stars-right {
  width: 460px;
  transform-origin: top left;
  transform: translateX(100%) rotate(90deg);
  right: 0;
  top: 0;
}
#content .content-main #work-experience .main {
  position: relative;
  height: 70%;
  margin-left: 150px;
}
#content .content-main #work-experience .main .time-line {
  display: block;
  width: 0.5px;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 6px;
}
#content .content-main #work-experience .main .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#content .content-main #work-experience .main .text .item {
  display: flex;
}
#content .content-main #work-experience .main .text .item .circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
}
#content .content-main #work-experience .main .text .item h5 {
  margin: 0 30px;
}
#content .content-main #work-experience .main .text .item .works-detail h2 {
  margin-bottom: 15px;
}
#content .content-main #work-experience .main .text .item .works-detail p {
  line-height: 1.6em;
}
#content .content-main #work-experience .main .text .item .works-detail ul {
  list-style: decimal;
  line-height: 1.6em;
}
#content .content-main #expertise {
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
#content .content-main #expertise .stars-left {
  position: absolute;
  width: 450px;
  left: 0;
  bottom: 0;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-58%);
  z-index: 1;
  opacity: 0.6;
}
#content .content-main #expertise .stars-right {
  position: absolute;
  width: 300px;
  right: 0;
  top: 0;
  transform: rotateY(180deg);
  z-index: 1;
  opacity: 0.6;
}
#content .content-main #expertise .circle {
  display: block;
  width: 980px;
  height: 980px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -25%;
  transform: translateY(-50%);
  overflow: hidden;
}
#content .content-main #expertise .circle .classification {
  width: 417px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#content .content-main #expertise .circle .classification .circle-hollow {
  display: block;
  width: 834px;
  height: 834px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
}
#content .content-main #expertise .circle .name-list {
  position: absolute;
  width: 417px;
  height: 290px;
  top: 50%;
  left: 50%;
}
#content .content-main #expertise .circle .name-list .name {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}
#content .content-main #expertise .circle .name-list .name h3 {
  transition: all 0.3s ease-in-out;
}
#content .content-main #expertise .circle .name-list .name .name-circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 20px;
}
#content .content-main #expertise .circle .name-list .name:hover h3 {
  color: #00FFFF;
}
#content .content-main #expertise .circle .name-list .btn-graphic {
  right: -5px;
  top: -10px;
}
#content .content-main #expertise .circle .name-list .btn-illustration {
  right: 24px;
  top: 50%;
}
#content .content-main #expertise .circle .name-list .btn-uiux {
  right: 111px;
  bottom: -10px;
}
#content .content-main #expertise .main {
  height: 70%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#content .content-main #expertise .main .title-straight {
  color: #fff;
  height: 100%;
  z-index: 1;
}
#content .content-main #expertise .main .title-straight .line {
  background-color: #fff;
}
#content .content-main #expertise .main .list {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
#content .content-main #expertise .main .list .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  scroll-snap-align: start;
}
#content .content-main #expertise .main .list .text h2 {
  margin-top: 30px;
  z-index: 1;
}
#content .content-main #expertise .main .list .text h3 {
  color: #CCCCCC;
}
#content .content-main #expertise .main .list .text .software {
  display: flex;
}
#content .content-main #expertise .main .list .text .software .item {
  display: block;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}
#content .content-main #expertise .main .list .text .software .item:last-child {
  margin-right: 0px;
}
#content .content-main #expertise .main .list .text .software .item .degree {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #999999;
  transform: rotate(45deg);
}
#content .content-main #expertise .main .list .text .software .item .degree .name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.02em;
  transform: rotate(-45deg);
  text-align: center;
}
#content .content-main #expertise .main .list .text .software .item .degree .so-long {
  font-size: 12px;
}
#content .content-main #expertise .main .list .text .software .item .level-1 {
  border-right: 5px solid #999999;
  border-bottom: 5px solid #999999;
}
#content .content-main #expertise .main .list .text .software .item .level-2 {
  border-right: 5px solid #999999;
}
#content .content-main #expertise .main .list .text li {
  margin-bottom: 10px;
  text-align: right;
}
#content .content-main #expertise .main .list .text li:last-child {
  margin-bottom: 0px;
}
#content .content-main #contact {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#content .content-main #contact .bg-stars {
  position: absolute;
  width: 90%;
  height: 90%;
  background-image: url(../img/stars-w.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#content .content-main #contact .big-star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(15deg);
  width: 1200px;
  height: 1200px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-mask-image: url(../img/star-mask.svg);
          mask-image: url(../img/star-mask.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#content .content-main #contact .square {
  z-index: 1;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 50px 0 0 0;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 100px;
  bottom: 70px;
}
#content .content-main #contact .square > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#content .content-main #contact .square h3 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
}
#content .content-main #contact ul {
  z-index: 2;
}
#content .content-main #contact ul li {
  margin-bottom: 60px;
}
#content .content-main #contact ul li:last-child {
  margin-bottom: 0px;
}
#content .content-main #contact ul a {
  display: flex;
  align-items: center;
}
#content .content-main #contact ul a:hover h4 {
  color: #00FFFF;
}
#content .content-main #contact ul img {
  width: 30px;
  margin-right: 90px;
}
#content .content-main #contact ul h4 {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#content .content-main #works-table {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .content-main #works-table .stars {
  right: 0;
  top: 0;
  z-index: 0;
  transform: rotateY(180deg);
  width: 700px;
  opacity: 0.5;
}
#content .content-main #works-table h2,
#content .content-main #works-table a {
  color: #fff;
}
#content .content-main #works-table .item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  z-index: 1;
}
#content .content-main #works-table .item-box .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-right: 1px solid #fff;
  height: 100%;
  padding: 2% 0;
  margin-right: 50px;
}
#content .content-main #works-table .item-box .item:last-child {
  margin-right: 0px;
}
#content .content-main #works-table .item-box .item h5 {
  line-height: 0.7;
}
#content .content-main #works-table .item-box .item .content {
  display: flex;
  justify-content: space-between;
  height: 420px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#content .content-main #works-table .item-box .item .content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#content .content-main #works-table .item-box .item .content .text .last {
  margin-left: 10px;
}
#content .content-main #works-table .item-box .item .content .text .category {
  margin-bottom: 20px;
  min-width: 105px;
}
#content .content-main #works-table .item-box .item .content .text .category:last-child {
  margin-bottom: 0px;
}
#content .content-main #works-table .item-box .item .content .text .category h3 {
  color: #00FFFF;
  margin-bottom: 10px;
  line-height: 1.5em;
}
#content .content-main #works-table .item-box .item .content .text .category ul li {
  margin-bottom: 7px;
}
#content .content-main #works-table .item-box .item .content .text .category ul li:last-child {
  margin-bottom: 0px;
}
#content .content-main #works-table .item-box .item .content .text .category ul li a {
  transition: all 0.3s ease-in-out;
}
#content .content-main #works-table .item-box .item .content .text .category ul li a:hover {
  color: #CCCCCC;
}
#content .content-main #works-table .item-box .item .content .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
}
#content .content-main #works-table .item-box .item .content .title span {
  display: block;
  width: 300px;
  transform: rotate(-90deg) translateY(-100%);
  transform-origin: right top;
}
#content .content-main #works-table .item-box .item .content .title span h2 {
  text-align: right;
}
#content .content-main #works-table .item-box .item .content .illustration {
  position: absolute;
  right: -10%;
  bottom: 0;
  opacity: 0.4;
  height: 200px;
  width: -moz-fit-content;
  width: fit-content;
}
#content .content-main .works-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#content .content-main .works-cover .card {
  position: relative;
  width: 670px;
  height: 350px;
  background-color: #000;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
#content .content-main .works-cover .card h3 {
  color: #fff;
}
#content .content-main .works-cover .card ul {
  z-index: 1;
}
#content .content-main .works-cover .card ul li {
  margin-bottom: 15px;
}
#content .content-main .works-cover .card ul li:last-child {
  margin-bottom: 0px;
}
#content .content-main .works-cover .card ul li a {
  color: #fff;
  text-align: right;
}
#content .content-main .works-cover .card .star-lefttop {
  position: absolute;
  width: 230px;
  left: -90px;
  top: -90px;
  transform: rotate(-30deg);
  z-index: -1;
}
#content .content-main .works-cover .card .title-card {
  position: absolute;
  left: -35px;
  bottom: -40px;
  z-index: 1;
}
#content .content-main .works-cover .card .title-card h2 {
  margin-bottom: 30px;
}
#content .content-main .works-cover .card .title-card h2:last-child {
  margin-bottom: 0px;
}
#content .content-main .works-cover .card .star-rightbottom {
  position: absolute;
  width: 40px;
  right: 30px;
  bottom: 30px;
}
#content .content-main .works-cover .card .stars {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
  transform-origin: right top;
  transform: rotate(90deg) translateX(100%);
  width: 250px;
  opacity: 0.7;
}
#content .content-main .works-cover .card .bg {
  opacity: 0.4;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 55%;
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(-50%) rotate(20deg);
}
#content .content-main .works-cover .title-bg {
  position: absolute;
  right: -10px;
  bottom: -20px;
  z-index: -1;
}
#content .content-main .works-cover .title-bg h2 {
  text-align: right;
  -webkit-text-stroke: 0.3px #666666;
  color: transparent;
  margin-bottom: 30px;
}
#content .content-main .works-cover .title-bg h2:last-child {
  margin-bottom: 0px;
}
#content .content-main #works-graphic-logo-cover .bg {
  transform-origin: 15% 50%;
}
#content .content-main #works-graphic-banner-cover .bg {
  left: 50%;
  width: 900px;
}
#content .content-main #works-graphic-anybears-cover .bg {
  width: 300px;
  opacity: 0.2;
}
#content .content-main #works-uiuxfrontend-cover .bg {
  transform-origin: 15% 50%;
}
#content .content-main #works-painting-illustration-cover .bg {
  transform: translateX(-50%) translateY(-35%) rotate(0deg);
}
#content .content-main .works-section-colorful {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content .content-main .works-section-colorful .bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #B6E0D5;
  -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(80% 0, 100% 0, 100% 100%, 20% 100%);
}
#content .content-main .works-section-colorful .bg p {
  position: absolute;
  left: 70%;
  top: 0;
  line-height: 0.72;
}
#content .content-main .works-section-colorful .main {
  width: 70%;
  min-width: 820px;
  max-width: 900px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
#content .content-main .works-section-colorful .main .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content-main .works-section-colorful .main .left .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#content .content-main .works-section-colorful .main .left .text .title {
  position: relative;
  margin-bottom: 90px;
}
#content .content-main .works-section-colorful .main .left .text .title h2 {
  margin-bottom: 20px;
}
#content .content-main .works-section-colorful .main .left .text .title img {
  position: absolute;
  left: -55px;
  top: -50px;
  width: 130px;
  transform: rotate(-20deg);
  z-index: -1;
}
#content .content-main .works-section-colorful .main .left .text p {
  width: 240px;
  line-height: 2.2em;
}
#content .content-main .works-section-colorful .main .left .logo {
  height: 70px;
  width: -moz-fit-content;
  width: fit-content;
}
#content .content-main .works-section-colorful .main .right {
  display: flex;
  align-items: flex-end;
}
#content .content-main .works-section-colorful .main .right img {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.1));
}
#content .content-main .works-section-colorful .main .right .card {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
#content .content-main .works-section-colorful .main .right .card .img img {
  width: 135px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 35px;
}
#content .content-main .works-section-colorful .main .right .card .img img:last-child {
  margin-bottom: 0px;
}
#content .content-main .works-section-colorful .main .right .envelope {
  height: 100%;
}
#content .content-main .works-section-colorful .main .right .envelope img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#content .content-main #ethergifts .card .img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content-main #ethergifts .card .img img {
  width: 100%;
  max-height: 46%;
  flex: 1;
  margin-bottom: 0;
}
#content .content-main #ethergifts .card .img img:last-child {
  margin-bottom: 0px;
}
#content .content-main #leogifts .bg {
  background-color: #A0B3B5;
}
#content .content-main #leogifts .card img {
  width: 220px;
}
#content .content-main #leotech {
  background-color: #000;
}
#content .content-main #leotech p,
#content .content-main #leotech h2,
#content .content-main #leotech h3 {
  color: #fff;
}
#content .content-main #leotech .bg {
  background-color: #777777;
}
#content .content-main #leotech .card img {
  width: 220px;
}
#content .content-main #leotech .card .t-1 span {
  background-color: #3E3A39;
}
#content .content-main #leotech .card .t-2 span {
  background-color: #71C6D4;
}
#content .content-main #leotech .card .t-3 span {
  background-color: #FFFFFF;
}
#content .content-main #chiwuhaiexpress .bg {
  background-color: #2F7793;
}
#content .content-main #chiwuhaiexpress .card .img {
  display: flex;
}
#content .content-main #chiwuhaiexpress .card .img img {
  width: 135px;
  margin-bottom: 0px;
  margin-right: 35px;
}
#content .content-main #chiwuhaiexpress .card .img img:last-child {
  margin-bottom: 0px;
}
#content .content-main #chiwuhaiexpress .card .img img:last-child {
  margin-right: 0px;
}
#content .content-main #chiwuhaiexpress .card .t-1 span {
  background-color: #0E4668;
}
#content .content-main #chiwuhaiexpress .card .t-2 span {
  background-color: #79C6BA;
}
#content .content-main #chiwuhaiexpress .card .t-3 span {
  background-color: #EFF3CB;
}
#content .content-main #personalcard .bg {
  background-color: #1A1A1A;
}
#content .content-main #personalcard .personal-card-list {
  display: flex;
}
#content .content-main #personalcard .personal-card-list img {
  width: 135px;
  margin-right: 35px;
}
#content .content-main #personalcard .personal-card-list img:last-child {
  margin-right: 0px;
}
#content .content-main #personalcard .envelope .phone {
  width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 30px;
  bottom: 0;
}
#content .content-main #personalcard .envelope .computer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#content .content-main #logo-related-works {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#content .content-main #logo-related-works .item-list {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
}
#content .content-main #logo-related-works .item-list .item {
  display: flex;
}
#content .content-main #logo-related-works .item-list .item .ticket-list {
  zoom: 0.8;
}
#content .content-main #logo-related-works .item-list .item img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 80px;
}
#content .content-main #logo-related-works .item-list .cloudgifts .t-1 span {
  background-color: #393B44;
}
#content .content-main #logo-related-works .item-list .cloudgifts .t-2 span {
  background-color: #8D93AB;
}
#content .content-main #logo-related-works .item-list .cloudgifts .t-3 span {
  background-color: #D6E0F0;
}
#content .content-main #logo-related-works .item-list .lume .t-1 span {
  background-color: #EEB3CF;
}
#content .content-main #logo-related-works .item-list .lume .t-2 span {
  background-color: #88D0EE;
}
#content .content-main #logo-related-works .item-list .lume .t-3 span {
  background-color: #A3D4BC;
}
#content .content-main #logo-related-works .item-list .yushi .t-1 span {
  background-color: #B81C22;
}
#content .content-main #logo-related-works .item-list .yushi .t-2 span {
  background-color: #F1BD4C;
}
#content .content-main #logo-related-works .item-list .yushi .t-3 span {
  background-color: #FDEABE;
}
#content .content-main #logo-related-works .item-list .nacl .t-1 span {
  background-color: #CCBDE8;
}
#content .content-main #logo-related-works .item-list .nacl .t-2 span {
  background-color: #D9E5FF;
}
#content .content-main #logo-related-works .item-list .nacl .t-3 {
  opacity: 0;
}
#content .content-main #logo-related-works .item-list .et .t-1 span {
  background-color: #5B705D;
}
#content .content-main #logo-related-works .item-list .et .t-2 span {
  background-color: #B1C8B8;
}
#content .content-main #logo-related-works .item-list .et .t-3 span {
  background-color: #EFF5EE;
}
#content .content-main #logo-related-works .item-list .ryuuya .t-1 span {
  background-color: #000000;
}
#content .content-main #logo-related-works .item-list .ryuuya .t-2,
#content .content-main #logo-related-works .item-list .ryuuya .t-3 {
  opacity: 0;
}
#content .content-main #mike .bg {
  background-color: #80756F;
}
#content .content-main #mike .envelope .computer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#content .content-main #kanono .bg {
  background-color: #C5B1DA;
}
#content .content-main #kanono .envelope .computer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#content .content-main .works-section-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content .content-main .works-section-banner .stars-left {
  width: 270px;
  transform: rotateX(180deg);
  left: 0;
  bottom: 0;
}
#content .content-main .works-section-banner .stars-right {
  width: 410px;
  transform: rotateY(180deg);
  right: 0;
  top: 0;
}
#content .content-main .works-section-banner .main {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content-main .works-section-banner .main .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
#content .content-main .works-section-banner .main .title .number {
  display: flex;
  align-items: center;
}
#content .content-main .works-section-banner .main .title .number .date {
  writing-mode: vertical-rl;
  margin-right: 30px;
}
#content .content-main .works-section-banner .main .title .content {
  width: 420px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: right;
  line-height: 2em;
  display: flex;
  border-right: 4px solid #000;
  padding-right: 50px;
}
#content .content-main .works-section-banner .main .picture {
  position: relative;
}
#content .content-main .works-section-banner .main .picture img {
  width: 100%;
  aspect-ratio: 47/17;
  border-radius: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#content .content-main .works-section-banner .main .picture::before {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 45px;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
#content .content-main .works-section-banner .main .picture-anybears img {
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
}
#content .content-main .works-section-banner .main .picture-anybears::before {
  right: 0px;
  top: 0px;
}
#content .content-main .works-section-banner .title-bg {
  position: absolute;
  right: -10px;
  bottom: -20px;
  z-index: -1;
}
#content .content-main .works-section-banner .title-bg h2 {
  text-align: right;
  -webkit-text-stroke: 0.3px #666666;
  color: transparent;
  margin-bottom: 30px;
}
#content .content-main .works-section-banner .title-bg h2:last-child {
  margin-bottom: 0px;
}
#content .content-main .works-section-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .content-main .works-section-illustration .stars-left {
  width: 270px;
  transform: rotateX(180deg);
  left: 0;
  bottom: 0;
}
#content .content-main .works-section-illustration .stars-right {
  width: 410px;
  transform: rotateY(180deg);
  right: 0;
  top: 0;
}
#content .content-main .works-section-illustration .main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 70%;
}
#content .content-main .works-section-illustration .main .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content-main .works-section-illustration .main .title .date {
  position: relative;
}
#content .content-main .works-section-illustration .main .title .date .star {
  width: 76px;
  position: absolute;
  left: -40px;
  top: -30px;
  transform: rotate(70deg);
  z-index: -1;
}
#content .content-main .works-section-illustration .main .title .line {
  width: 0.5px;
  height: 200px;
  background-color: #000;
}
#content .content-main .works-section-illustration .main .title .content-title h2 {
  margin-bottom: 20px;
}
#content .content-main .works-section-illustration .main .title .content {
  width: 240px;
  line-height: 2.2em;
}
#content .content-main .works-section-illustration .main .picture {
  position: relative;
}
#content .content-main .works-section-illustration .main .picture .star {
  position: absolute;
  width: 24px;
}
#content .content-main .works-section-illustration .main .picture .star.left {
  left: 25px;
  top: 25px;
}
#content .content-main .works-section-illustration .main .picture .star.right {
  right: 25px;
  bottom: 25px;
}
#content .content-main .works-section-illustration .main .picture .number {
  position: absolute;
  left: 75%;
  top: -8%;
  line-height: 0.7;
}
#content .content-main .works-section-illustration .main .picture .main-img {
  height: 100%;
  aspect-ratio: 12/13;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
  border-radius: 45px;
}
#content .content-main .works-section-illustration .main .picture::before {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 100%;
  height: 100%;
  border: 0.5px solid #000;
  border-radius: 45px;
}
#content .content-main .works-section-illustration .title-bg {
  position: absolute;
  right: -10px;
  bottom: -20px;
  z-index: -1;
}
#content .content-main .works-section-illustration .title-bg h2 {
  text-align: right;
  -webkit-text-stroke: 0.3px #666666;
  color: transparent;
  margin-bottom: 30px;
}
#content .content-main .works-section-illustration .title-bg h2:last-child {
  margin-bottom: 0px;
}
#content .content-main .works-section-poster {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .content-main .works-section-poster .stars-left {
  width: 270px;
  transform: rotateX(180deg);
  left: 0;
  bottom: 0;
}
#content .content-main .works-section-poster .stars-right {
  width: 410px;
  transform: rotateY(180deg);
  right: 0;
  top: 0;
}
#content .content-main .works-section-poster .main {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#content .content-main .works-section-poster .main .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content-main .works-section-poster .main .title .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content .content-main .works-section-poster .main .title .top .date {
  writing-mode: vertical-rl;
}
#content .content-main .works-section-poster .main .title .top .number {
  transform: translateX(10px);
}
#content .content-main .works-section-poster .main .title .content {
  width: 130px;
  line-height: 2.2em;
  padding-left: 45px;
  border-left: 4px solid #000;
}
#content .content-main .works-section-poster .main .picture {
  display: flex;
}
#content .content-main .works-section-poster .main .picture .item {
  position: relative;
  margin-right: 30px;
}
#content .content-main .works-section-poster .main .picture .item:last-child {
  margin-right: 0px;
}
#content .content-main .works-section-poster .main .picture .item::before {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100%;
  height: 100%;
  border: 0.5px solid #000;
  border-radius: 20px;
}
#content .content-main .works-section-poster .main .picture .item img {
  height: 100%;
  border-radius: 20px;
}
#content .content-main .works-section-poster .title-bg {
  position: absolute;
  right: -10px;
  bottom: -20px;
  z-index: -1;
}
#content .content-main .works-section-poster .title-bg h2 {
  text-align: right;
  -webkit-text-stroke: 0.3px #666666;
  color: transparent;
  margin-bottom: 30px;
}
#content .content-main .works-section-poster .title-bg h2:last-child {
  margin-bottom: 0px;
}
#content .content-main .websection .bg {
  background: linear-gradient(220deg, rgba(238, 179, 208, 0.3), rgba(137, 209, 239, 0.3), rgba(164, 213, 190, 0.3));
}
#content .content-main .websection .main {
  position: relative;
}
#content .content-main .websection .main .left .qrcord {
  display: flex;
  justify-content: space-between;
  width: 240px;
}
#content .content-main .websection .main .left .qrcord .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content .content-main .websection .main .left .qrcord .item img {
  width: 50px;
}
#content .content-main .websection .main .left .qrcord .item a {
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 30px;
  background: linear-gradient(120deg, rgba(164, 213, 190, 0.3) 30%, rgba(164, 213, 190, 0) 60%), linear-gradient(210deg, rgba(137, 209, 239, 0.3) 30%, rgba(137, 209, 239, 0) 60%), linear-gradient(340deg, rgba(238, 179, 208, 0.3) 30%, rgba(238, 179, 208, 0) 60%) #fff;
}
#content .content-main .websection .main .right {
  position: absolute;
  right: 0;
  bottom: 0;
}
#content .content-main .websection .main .right .envelope .phone {
  width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 30px;
  bottom: 0;
}
#content .content-main .websection .main .right .envelope .computer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#content .content-main #portfolio-web .bg {
  background: #2C2C2C;
}
#content .content-main #portfolio-web .qrcord .item a {
  background: #000;
  color: #fff;
}
#content .content-main #fmbsshop-web .bg {
  background: #A0B1CC;
}
#content .content-main #fmbsshop-web .qrcord .item a {
  background: #A0B1CC;
  color: #fff;
}
#content .content-main #fmbsleave-web .bg {
  background: #7AB0CF;
}
#content .content-main #fmbsleave-web .qrcord .item a {
  background: #7AB0CF;
  color: #fff;
}
#content .content-main #fmbsleave-web .right {
  height: 100%;
}
#content .content-main #fmbsleave-web .right .envelope {
  height: 100%;
  justify-content: center;
}
#content .content-main #fmbsleave-web .right .envelope .computer {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}/*# sourceMappingURL=style.css.map */