@use "./reset";
@use "./font";
@use "./function/index" as *;
@use "../scss/var/index" as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
	font-family: "Gotham";
	src: url(../font/Gotham-XLight.otf);
}

@font-face {
	font-family: "NymphaTrial";
	src: url(../font/NymphaTrial-Regular.otf);
}

@font-face {
	font-family: "NewYork";
	src: url(../font/NewYork\ PERSONAL\ USE.otf);
}

body {
	font-family: "Noto Sans TC", sans-serif, "Gotham", "NymphaTrial", "NewYork";
}

/* 選單 */
#menu {
	display: flex;
	position: fixed;
	z-index: 99;

	#main-menu {
		height: calc(100vh - 100px);
		width: calc(360px - 100px);
		box-shadow: 1px 0px 30px rgba(0, 0, 0, .1);
		padding: 50px;
		background-color: #fff;

		display: flex;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;
			flex-direction: column;

			span {
				display: block;
				width: 0.5px;
				height: 45vh;
				margin-bottom: 5vh;
				background-color: black;
			}
		}

		.right {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: end;
			text-align: right;

			.home {
				width: 25px;
			}

			.main {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				.text {
					@include margin-b-last-child(40px);

					.title {
						display: flex;
						align-items: center;
						// margin-bottom: 30px;
						@include margin-b-last-child(30px);

						h4 {
							margin-right: 15px;
						}

						h3 {
							position: relative;

							&::after {
								position: absolute;
								@extend %beforeafter;
								width: 100%;
								height: 2px;
								background-color: black;

								right: 0px;
								bottom: -10px;
								opacity: 0;

								transition: all .3s;
							}
						}

						&:hover {
							h3 {
								&::after {
									opacity: 1;
								}
							}
						}
					}

					.sub {

						a {
							display: flex;
							justify-content: flex-end;
							@include margin-b-last-child(8px);

							&:hover {
								h5 {
									&::before {
										opacity: 1;
									}
								}
							}

							h5 {
								position: relative;

								&::before {
									@extend %beforeafter;
									opacity: 0;
									@include triangle(6px, black);
									transition: all .3s;
									bottom: -6px;
									left: -40px;
								}
							}
						}

					}
				}

			}

		}
	}

	#works-menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: rgba($color: #000000, $alpha: .8);
		border-radius: 0 30px 30px 0;
		padding: 30px;
		color: #fff;

		backdrop-filter: blur(15px);

		a {
			color: #fff;
		}

		.main-category {
			h3 {
				margin-bottom: 10px;
			}

			.sub-category {
				@include margin-b-last-child(15px);

				h4 {
					color: #00FFFF;
					margin-bottom: 8px;
				}

				.l-10-15 {
					@include margin-b-last-child(6px);
				}
			}
		}

		display: none;
	}

}

::-webkit-scrollbar {
	display: none;
	// position: absolute;
	// width: 7px;
	// right: 50px;

	// &-button {
	// 	display: none;
	// }

	// &-thumb {
	// 	border-radius: 10px;
	// 	background-color: rgba(0, 0, 0, 1);
	// }

	// &-track {
	// 	background: linear-gradient(to right, transparent 43%, #000 44%, #000 56%, transparent 57%);
	// 	margin: 20vh 0;
	// }
}

// breadcrumbs
.breadcrumbs {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5%;
	color: $gray;

	a {
		padding: 5px;
		border: 1px solid transparent;
		transition: all .3s ease-in-out;
		color: $gray;
		// backdrop-filter: blur(3px);

		&:hover {
			border-bottom: 1px solid $gray;
		}
	}
}

.breadcrumbs-white {
	a {
		color: #fff;

		&:hover {
			border-bottom: 1px solid #fff;
		}
	}
}

// 星星裝飾
.stars {
	position: absolute;
	z-index: -1;
}

// 直式標題
.title-straight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 70%;

	h3 {
		writing-mode: vertical-rl;
	}

	.line {
		@include line(0.5px, 20%, #000);
	}
}

// 色票
.ticket-list {
	display: flex;

	.ticket {
		p {
			@include font(8px, 300, 0.15em);
		}

		span {
			display: block;
			width: 45px;
			height: 13px;
			background-color: #1D2323;
			margin: 10px 0;
		}

		ul {
			@include margin-b-last-child(5px);

			li {
				display: flex;
				justify-content: space-between;
				width: 30px;
				@include margin-b-last-child(3px);
			}
		}

	}

	.t-2 {
		span {
			background-color: #5C848E;
		}
	}

	.t-3 {
		span {
			background-color: #DECDC3;
		}
	}
}

// top btn
#top-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	position: fixed;
	right: 50px;
	bottom: 50px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
	z-index: 100;
	cursor: pointer;
	opacity: 0;
	transition: all .5s ease-in-out;

	img {
		height: 50%;
	}
}

#top-btn.show {
	opacity: 1;
}

// content
.content-bg {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: end;
}

#content {
	position: relative;
	height: 100%;
	width: calc(100vw - var(--main-menu-width));
	display: flex;

	overflow-x: scroll;

	.corner {
		position: fixed;
		z-index: 70;
		transition: all 0.3s ease-in-out;
		background-color: #000;
		mask-size: cover;
	}

	.left-corner {
		// left: var(--main-menu-width);
		left: var(--main-menu-width);
		top: 0;
		mask-image: url(../img/corner-left.svg);

		img {
			width: 375px;
			opacity: 0;
		}
	}

	.right-corner {
		right: 0;
		bottom: 0;
		mask-image: url(../img/corner-right.svg);

		img {
			width: 100px;
			opacity: 0;
		}
	}

	.white-corner {
		background-color: #fff;
	}

	// 錨點選單
	#anchor-menu {
		display: flex;
		justify-content: space-between;
		z-index: 80;
		width: 50%;
		text-align: right;
		position: fixed;
		top: 5%;
		right: calc((100vw - var(--main-menu-width)) / 2);
		transform: translateX(50%);

		.item {
			position: relative;
			// @include margin-r-last-child(80px);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			width: 135px;

			&::before {
				@extend %beforeafter;
				@include triangle(8px, $gray);
				left: -8px;
				bottom: -8px;
				transition: all .3s;
			}

			&:hover {
				&::before {
					border-color: transparent $hover transparent transparent;
				}
			}

			h3 {
				margin-bottom: 5px;
			}

			h4 {
				line-height: 1.5em;
			}
		}
	}

	#anchor-menu.painting-anchor{
		width: 30%;
	}

	.content-main {
		height: 100%;
		min-width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		scroll-snap-type: y mandatory;

		section {
			height: 100vh;
			// background-color: antiquewhite;
			width: 100%;
			position: relative;
			scroll-snap-align: start;
		}

		.white-anchor {

			h3,
			h4 {
				color: #fff;
			}
		}

		// 首頁
		#cover {
			overflow-y: hidden;

			.circle {
				display: block;
				width: 850px;
				height: 850px;
				background-color: #808080;
				border-radius: 50%;

				position: absolute;
				top: 15%;
				right: 50%;
				transform: translateX(50%);
				z-index: -2;
			}

			.stars-right {
				width: 315px;
				right: 50px;
				bottom: 50px;
				transform: rotate(180deg);
			}

			.stars-left {
				width: 200px;
				left: 170px;
				top: 250px;
			}

			.name {
				position: absolute;
				width: 90%;
				right: 50%;
				bottom: 5%;
				transform: translate(50%);
				z-index: 1;

				p {
					&:last-child {
						text-align: right;
					}
				}
			}

			.motto {
				position: relative;
				z-index: 2;
				height: 100%;

				div {
					background-color: #000;
					width: 35px;

					display: flex;
					align-items: end;
					justify-content: flex-end;

					position: absolute;
					transform: translate(0%, -50%);
				}

				p {
					writing-mode: vertical-lr;
					color: #fff;
					letter-spacing: .5em;
					margin: 5px;
				}

				.item-1 {
					height: 400px;
					left: 8%;
					top: 50%;
				}

				.item-2 {
					height: 270px;
					left: 13%;
					top: 70%;
				}
			}
		}

		// 自我介紹
		#about {
			display: flex;
			width: 80%;
			margin: 0 auto;
			align-items: center;
			justify-content: space-between;

			.photo {
				height: 70%;
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;

				.stars-left {
					width: 260px;
					left: -40px;
					bottom: 20px;
					transform: rotateY(180deg) rotate(180deg);
				}

				.stars-right {
					width: 200px;
					right: -10px;
					top: 20px;
					transform: rotateY(180deg);
				}
			}

			.text {
				height: 70%;
				width: 100%;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-left: 65px;

				.name {
					margin-top: 30px;
					display: flex;
					justify-content: space-between;
					align-items: end;
				}

				.school {
					.item {
						display: flex;
						align-items: center;
						@include margin-b-last-child(35px);

						img {
							width: 22px;
							margin-right: 35px;
						}
					}
				}

				.biography {
					p {
						line-height: 2em;
					}
				}
			}
		}

		// 工作經歷
		#work-experience {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			.stars-left {
				width: 240px;
				transform-origin: top left;
				transform: translateY(100%) rotate(-90deg);
				left: 0;
				bottom: 0;
			}

			.stars-right {
				width: 460px;
				transform-origin: top left;
				transform: translateX(100%) rotate(90deg);
				right: 0;
				top: 0;
			}

			.main {
				position: relative;
				height: 70%;
				margin-left: 150px;

				.time-line {
					@include line(.5px, 100%, #000);
					position: absolute;
					left: 6px;
				}

				.text {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100%;

					.item {
						display: flex;

						.circle {
							@include circle(12px, #000);
						}

						h5 {
							margin: 0 30px;
						}

						.works-detail {
							h2 {
								margin-bottom: 15px;
							}

							p {
								line-height: 1.6em;
							}

							ul {
								list-style: decimal;
								line-height: 1.6em;
							}
						}
					}

				}
			}
		}

		// 專長
		#expertise {
			overflow-y: hidden;
			display: flex;
			align-items: center;

			.stars-left {
				position: absolute;
				width: 450px;
				left: 0;
				bottom: 0;
				transform-origin: left top;
				transform: rotate(-90deg) translateX(-58%);
				z-index: 1;
				opacity: .6;
			}

			.stars-right {
				position: absolute;
				width: 300px;
				right: 0;
				top: 0;
				transform: rotateY(180deg);
				z-index: 1;
				opacity: .6;
			}

			.circle {
				@include circle(980px, #000);
				position: absolute;
				top: 50%;
				left: -25%;
				transform: translateY(-50%);
				overflow: hidden;

				.classification {
					width: 417px;
					height: 290px;
					// border:1px solid #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					align-items: flex-end;

					.circle-hollow {
						@include circle-hollow(834px, 1px, #fff);
						position: absolute;
						transform: translateY(-50%);
						right: 0;
					}
				}

				.name-list {
					position: absolute;
					width: 417px;
					height: 290px;
					top: 50%;
					left: 50%;

					.name {
						color: #fff;
						display: flex;
						justify-content: flex-end;
						align-items: center;
						position: absolute;

						h3 {
							transition: all .3s ease-in-out;
						}

						.name-circle {
							@include circle(12px, #fff);
							margin-left: 20px;
						}

						&:hover {
							h3 {
								color: $hover;
							}

						}
					}

					.btn-graphic {
						right: -5px;
						top: -10px;
					}

					.btn-illustration {
						right: 24px;
						top: 50%;
					}

					.btn-uiux {
						right: 111px;
						bottom: -10px;
					}
				}
			}

			.main {
				height: 70%;
				width: 80%;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;


				.title-straight {
					color: #fff;
					height: 100%;
					z-index: 1;

					.line {
						background-color: #fff;
					}
				}

				.list {
					overflow-x: hidden;
					overflow-y: scroll;
					scroll-snap-type: y mandatory;

					.text {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						justify-content: space-between;
						height: 100%;
						scroll-snap-align: start;

						h2 {
							margin-top: 30px;
							z-index: 1;
						}

						h3 {
							color: $light-gray;
						}

						.software {
							display: flex;

							.item {
								@include circle-hollow(66px, 1px, #000);
								display: flex;
								justify-content: center;
								align-items: center;
								@include margin-r-last-child(18px);

								.degree {
									@include circle-hollow(50px, 5px, #000);
									display: flex;
									justify-content: center;
									align-items: center;
									border-top: 5px solid $medium-gray;
									transform: rotate(45deg);

									.name {
										@include font(22px, 700, 0.02em);
										transform: rotate(-45deg);
										text-align: center;
									}

									.so-long {
										font-size: 12px;
									}
								}

								.level-1 {
									border-right: 5px solid $medium-gray;
									border-bottom: 5px solid $medium-gray;
								}

								.level-2 {
									border-right: 5px solid $medium-gray;
								}
							}
						}

						li {
							@include margin-b-last-child(10px);
							text-align: right;
						}
					}
				}

			}
		}

		// 聯絡
		#contact {
			background-color: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			.bg-stars {
				position: absolute;
				width: 90%;
				height: 90%;
				background-image: url(../img/stars-w.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}

			.big-star {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%) rotate(15deg);
				width: 1200px;
				height: 1200px;
				background: rgba($color: #fff, $alpha: .15);
				// opacity: .2;
				mask-image: url(../img/star-mask.svg);
				mask-repeat: no-repeat;

				backdrop-filter: blur(5px);
			}

			.square {
				z-index: 1;
				width: calc(230px - 90px);
				height: calc(230px - 90px);
				background-color: #fff;
				border-radius: 50px 0 0 0;
				padding: 45px;

				display: flex;
				flex-direction: column;
				justify-content: space-between;

				position: absolute;
				right: 100px;
				bottom: 70px;

				&>div {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
				}

				h3 {
					@include font(50px, 300, 0)
				}
			}

			ul {
				z-index: 2;

				li {
					@include margin-b-last-child(60px);
				}

				a {
					display: flex;
					align-items: center;

					&:hover {
						h4 {
							color: $hover;
						}
					}
				}

				img {
					width: 30px;
					margin-right: 90px;
				}

				h4 {
					color: #fff;
					transition: all .3s ease-in-out;
				}
			}
		}

		// 作品目錄
		#works-table {
			background-color: #000;
			display: flex;
			justify-content: center;
			align-items: center;

			.stars {
				right: 0;
				top: 0;
				z-index: 0;
				transform: rotateY(180deg);
				width: 700px;
				opacity: .5;
			}

			h2,
			a {
				color: #fff;
			}

			.item-box {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80%;
				z-index: 1;

				.item {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-end;
					border-right: 1px solid #fff;
					height: 100%;
					padding: 2% 0;
					@include margin-r-last-child(50px);

					h5 {
						line-height: 0.7;
					}

					.content {
						display: flex;
						justify-content: space-between;
						height: 420px;
						width: 100%;
						position: relative;
						overflow: hidden;

						.text {
							flex: 1;
							display: flex;
							flex-direction: column;
							flex-wrap: wrap;

							.last {
								margin-left: 10px
							}

							.category {
								@include margin-b-last-child(20px);
								min-width: 105px;


								h3 {
									color: $hover;
									margin-bottom: 10px;
									line-height: 1.5em;
								}

								ul {
									li {
										@include margin-b-last-child(7px);

										a {
											transition: all .3s ease-in-out;

											&:hover {
												color: $light-gray;
											}
										}
									}
								}
							}
						}

						.title {
							position: relative;
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							width: 100px;

							span {
								display: block;
								width: 300px;
								transform: rotate(-90deg) translateY(-100%);
								transform-origin: right top;

								h2 {
									text-align: right;
								}
							}
						}

						.illustration {
							position: absolute;
							right: -10%;
							bottom: 0;
							opacity: 0.4;
							height: 200px;
							width: fit-content;
						}
					}
				}
			}
		}

		// 作品-封面
		.works-cover {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			.card {
				position: relative;
				width: calc(770px - (50 * 2px));
				height: calc(450px - (50 * 2px));
				background-color: #000;
				border-radius: 50px;
				padding: 50px;
				display: flex;
				justify-content: space-between;

				h3 {
					color: #fff;
				}

				ul {
					z-index: 1;

					li {
						@include margin-b-last-child(15px);

						a {
							color: #fff;
							text-align: right;
						}
					}
				}

				.star-lefttop {
					position: absolute;
					width: 230px;
					left: -90px;
					top: -90px;
					transform: rotate(-30deg);
					z-index: -1;
				}

				.title-card {
					position: absolute;
					left: -35px;
					bottom: -40px;
					z-index: 1;

					h2 {
						@include margin-b-last-child(30px);
					}
				}

				.star-rightbottom {
					position: absolute;
					width: 40px;
					right: 30px;
					bottom: 30px;
				}

				.stars {
					position: absolute;
					right: 0px;
					top: 0px;
					z-index: 0;
					transform-origin: right top;
					transform: rotate(90deg) translateX(100%);
					width: 250px;
					opacity: .7;
				}

				.bg {
					opacity: .4;
					position: absolute;
					width: 400px;
					top: 50%;
					left: 55%;
					transform-origin: 50% 50%;
					transform: translateX(-50%) translateY(-50%) rotate(20deg);
				}
			}

			.title-bg {
				position: absolute;
				right: -10px;
				bottom: -20px;
				z-index: -1;

				h2 {
					text-align: right;
					-webkit-text-stroke: 0.3px $gray;
					color: transparent;

					@include margin-b-last-child(30px);
				}
			}
		}

		// 作品-封面-個別調整
		#works-graphic-logo-cover {
			.bg {
				transform-origin: 15% 50%;
			}
		}

		#works-graphic-banner-cover {
			.bg {
				left: 50%;
				width: 900px;
			}
		}

		#works-graphic-anybears-cover {
			.bg {
				width: 300px;
				opacity: .2;
			}
		}

		#works-uiuxfrontend-cover {
			.bg {
				transform-origin: 15% 50%;
			}
		}

		#works-painting-illustration-cover {
			.bg {
				transform: translateX(-50%) translateY(-35%) rotate(0deg);
			}
		}

		// 作品-內頁
		.works-section-colorful {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.bg {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				right: 0;
				z-index: 0;

				background-color: #B6E0D5;
				clip-path: polygon(80% 0, 100% 0, 100% 100%, 20% 100%);

				p {
					position: absolute;
					left: 70%;
					top: 0;
					line-height: 0.72;
				}
			}

			.main {
				width: 70%;
				min-width: 820px;
				max-width: 900px;
				height: 70%;
				display: flex;
				justify-content: space-between;
				z-index: 1;

				.left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.text {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;

						.title {
							position: relative;
							margin-bottom: 90px;

							h2 {
								margin-bottom: 20px;
							}

							img {
								position: absolute;
								left: -55px;
								top: -50px;
								width: 130px;
								transform: rotate(-20deg);
								z-index: -1;
							}
						}

						p {
							width: 240px;
							line-height: 2.2em;
						}
					}

					.logo {
						height: 70px;
						width: fit-content;
					}
				}

				.right {
					display: flex;
					align-items: flex-end;

					img {
						filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, .1));
					}

					.card {
						margin-right: 35px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 100%;
						align-items: center;

						.img {
							img {
								width: 135px;
								object-fit: contain;
								@include margin-b-last-child(35px);
							}
						}

					}

					.envelope {
						height: 100%;

						img {
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}

		}

		// 作品-內頁-個別調整
		#ethergifts {
			.card {
				.img {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					img {
						width: 100%;
						max-height: 46%;
						flex: 1;
						@include margin-b-last-child(0);
					}
				}
			}
		}

		#leogifts {
			.bg {
				background-color: #A0B3B5;
			}

			.card {
				img {
					width: 220px;
				}
			}
		}

		#leotech {
			background-color: #000;

			p,
			h2,
			h3 {
				color: #fff;
			}

			.bg {
				background-color: #777777;
			}

			.card {
				img {
					width: 220px;
				}

				.t-1 {
					span {
						background-color: #3E3A39;
					}
				}

				.t-2 {
					span {
						background-color: #71C6D4;
					}
				}

				.t-3 {
					span {
						background-color: #FFFFFF;
					}
				}
			}
		}

		#chiwuhaiexpress {
			.bg {
				background-color: #2F7793;
			}

			.card {
				.img {
					display: flex;

					img {
						width: 135px;
						@include margin-b-last-child(0px);
						@include margin-r-last-child(35px);
					}
				}

				.t-1 {
					span {
						background-color: #0E4668;
					}
				}

				.t-2 {
					span {
						background-color: #79C6BA;
					}
				}

				.t-3 {
					span {
						background-color: #EFF3CB;
					}
				}
			}
		}

		#personalcard {
			.bg {
				background-color: #1A1A1A;
			}

			.personal-card-list {
				display: flex;

				img {
					width: 135px;
					@include margin-r-last-child(35px);
				}
			}

			.envelope {
				@extend %works-computer;

				.phone {
					width: 100px;
					height: fit-content;
					position: absolute;
					right: 30px;
					bottom: 0;
				}

				.computer {
					width: 100%;
					height: fit-content;
				}
			}
		}

		#logo-related-works {
			width: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			.item-list {
				width: 100%;
				height: 60%;
				display: flex;
				justify-content: space-between;
				align-content: space-between;
				flex-wrap: wrap;
				margin-left: 100px;

				.item {
					display: flex;

					.ticket-list {
						zoom: .8;
					}

					img {
						height: 100px;
						width: 100px;
						object-fit: contain;
						margin-right: 80px;
					}
				}

				.cloudgifts {
					.t-1 {
						span {
							background-color: #393B44;
						}
					}

					.t-2 {
						span {
							background-color: #8D93AB;
						}
					}

					.t-3 {
						span {
							background-color: #D6E0F0;
						}
					}
				}

				.lume {
					.t-1 {
						span {
							background-color: #EEB3CF;
						}
					}

					.t-2 {
						span {
							background-color: #88D0EE;
						}
					}

					.t-3 {
						span {
							background-color: #A3D4BC;
						}
					}
				}

				.yushi {
					.t-1 {
						span {
							background-color: #B81C22;
						}
					}

					.t-2 {
						span {
							background-color: #F1BD4C;
						}
					}

					.t-3 {
						span {
							background-color: #FDEABE;
						}
					}
				}

				.nacl {
					.t-1 {
						span {
							background-color: #CCBDE8;
						}
					}

					.t-2 {
						span {
							background-color: #D9E5FF;
						}
					}

					.t-3 {
						opacity: 0;
					}
				}

				.et {
					.t-1 {
						span {
							background-color: #5B705D;
						}
					}

					.t-2 {
						span {
							background-color: #B1C8B8;
						}
					}

					.t-3 {
						span {
							background-color: #EFF5EE;
						}
					}
				}

				.ryuuya {
					.t-1 {
						span {
							background-color: #000000;
						}
					}

					.t-2,
					.t-3 {
						opacity: 0;
					}
				}
			}
		}

		#mike {
			.bg {
				background-color: #80756F;
			}

			.envelope {
				@extend %works-computer;

				.computer {
					width: 100%;
					height: fit-content;
				}
			}
		}

		#kanono {
			.bg {
				background-color: #C5B1DA;
			}

			.envelope {
				@extend %works-computer;

				.computer {
					width: 100%;
					height: fit-content;
				}
			}
		}

		// 作品-內頁-banner版型
		.works-section-banner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.stars-left {
				width: 270px;
				transform: rotateX(180deg);
				left: 0;
				bottom: 0;
			}

			.stars-right {
				width: 410px;
				transform: rotateY(180deg);
				right: 0;
				top: 0;
			}

			.main {
				width: 80%;
				height: 70%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.title {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: flex-end;

					.number {
						display: flex;
						align-items: center;

						.date {
							writing-mode: vertical-rl;
							margin-right: 30px;
						}
					}

					.content {
						width: 420px;
						height: fit-content;
						text-align: right;
						line-height: 2em;
						display: flex;
						border-right: 4px solid #000;
						padding-right: 50px;
					}
				}

				.picture {
					position: relative;

					img {
						width: 100%;
						aspect-ratio: 47 / 17;
						border-radius: 45px;
						object-fit: cover;
						object-position: center;
					}

					&::before {
						@extend %beforeafter;
						position: absolute;
						right: 5px;
						top: 5px;
						border-radius: 45px;
						width: 100%;
						height: 100%;
						border: 1px solid #000;
					}
				}

				.picture-anybears {
					img {
						object-fit: contain;
						background-color: #fff;
					}

					&::before {
						right: 0px;
						top: 0px;
					}
				}
			}

			.title-bg {
				position: absolute;
				right: -10px;
				bottom: -20px;
				z-index: -1;

				h2 {
					text-align: right;
					-webkit-text-stroke: 0.3px $gray;
					color: transparent;

					@include margin-b-last-child(30px);
				}
			}
		}

		// 作品-內頁-插畫版型
		.works-section-illustration {
			display: flex;
			justify-content: center;
			align-items: center;

			.stars-left {
				width: 270px;
				transform: rotateX(180deg);
				left: 0;
				bottom: 0;
			}

			.stars-right {
				width: 410px;
				transform: rotateY(180deg);
				right: 0;
				top: 0;
			}

			.main {
				display: flex;
				justify-content: space-between;
				width: 70%;
				height: 70%;

				.title {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.date {
						position: relative;

						.star {
							width: 76px;
							position: absolute;
							left: -40px;
							top: -30px;
							transform: rotate(70deg);
							z-index: -1;
						}
					}

					.line{
						width: .5px;
						height: 200px;
						background-color: #000;
					}

					.content-title{
						h2{
							margin-bottom: 20px;
						}
					}

					.content {
						width: 240px;
						line-height: 2.2em;
					}
				}

				.picture {
					position: relative;
					.star {
						position: absolute;
						width: 24px;

						&.left{
							left: 25px;
							top: 25px;
						}

						&.right{
							right: 25px;
							bottom: 25px;
						}
					}

					.number{
						position: absolute;
						left: 75%;
						top: -8%;
						line-height: 0.7;
					}

					.main-img {
						// width: 480px;
						height: 100%;
						aspect-ratio: 12 / 13;
						object-fit: cover;
						object-position: 50% 30%;
						border-radius: 45px;
					}

					&::before{
						@extend %beforeafter;
						position: absolute;
						right: 8px;
						top: 8px;
						width: 100%;
						height: 100%;
						border: .5px solid #000;
						border-radius: 45px;
					}
				}
			}

			.title-bg {
				position: absolute;
				right: -10px;
				bottom: -20px;
				z-index: -1;

				h2 {
					text-align: right;
					-webkit-text-stroke: 0.3px $gray;
					color: transparent;

					@include margin-b-last-child(30px);
				}
			}
		}

		.works-section-poster{
			display: flex;
			justify-content: center;
			align-items: center;
			.stars-left {
				width: 270px;
				transform: rotateX(180deg);
				left: 0;
				bottom: 0;
			}

			.stars-right {
				width: 410px;
				transform: rotateY(180deg);
				right: 0;
				top: 0;
			}

			.main{
				height: 70%;
				width: 70%;
				display: flex;
				justify-content: space-between;
				.title{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.top{
						display: flex;
						align-items: center;
						justify-content: space-between;
						.date{
							writing-mode: vertical-rl;
						}

						.number{
							transform: translateX(10px);
						}
					}
					.content{
						width: 130px;
						line-height: 2.2em;
						padding-left: 45px;
						border-left: 4px solid #000;
					}
				}

				.picture{
					display: flex;
					.item{
						position: relative;
						@include margin-r-last-child(30px);
						&::before{
							position: absolute;
							right: 5px;
							top: 5px;
							@extend %beforeafter;
							width: 100%;
							height: 100%;
							border: .5px solid #000;
							border-radius: 20px;
						}

						img{
							height: 100%;
							border-radius: 20px;
						}
					}
				}
			}

			.title-bg {
				position: absolute;
				right: -10px;
				bottom: -20px;
				z-index: -1;

				h2 {
					text-align: right;
					-webkit-text-stroke: 0.3px $gray;
					color: transparent;

					@include margin-b-last-child(30px);
				}
			}
		}

		// UIUX
		.websection {
			.bg {
				background: $gradient-lume-2;
			}

			.main {
				position: relative;

				.left {
					.qrcord {
						display: flex;
						justify-content: space-between;
						width: 240px;

						.item {
							display: flex;
							flex-direction: column;
							align-items: center;

							img {
								width: 50px;
							}

							a {
								padding: 10px 15px;
								margin-top: 15px;
								border-radius: 30px;
								background: $gradient-lume #fff;
							}
						}
					}
				}

				.right {
					position: absolute;
					right: 0;
					bottom: 0;

					.envelope {
						@extend %works-computer;

						.phone {
							width: 100px;
							height: fit-content;
							position: absolute;
							right: 30px;
							bottom: 0;
						}

						.computer {
							width: 100%;
							height: fit-content;
						}
					}
				}
			}

		}

		#portfolio-web {
			.bg {
				background: #2C2C2C;
			}

			.qrcord {
				.item {
					a {
						background: #000;
						color: #fff;
					}
				}
			}
		}

		#fmbsshop-web {
			.bg {
				background: #A0B1CC;
			}

			.qrcord {
				.item {
					a {
						background: #A0B1CC;
						color: #fff;
					}
				}
			}
		}

		#fmbsleave-web {
			.bg {
				background: #7AB0CF;
			}

			.qrcord {
				.item {
					a {
						background: #7AB0CF;
						color: #fff;
					}
				}
			}

			.right {
				height: 100%;
				.envelope {
					height: 100%;
					justify-content: center;
					.computer {
						width: fit-content;
						height: 100%;
					}
				}
			}
		}


	}
}