@use "../function/mixin" as*;
@use "../var/index" as *;

%beforeafter {
    content: "";
    display: block;
}

%works-computer {
    width: 480px;
    position: relative;
    display: flex;
    align-items: flex-end;
}